body {

    margin: 0;

    background:
        linear-gradient(180deg,
            #172033,
            #263248,
            #172033);

    font-family: "Malgun Gothic", sans-serif;

    text-align: center;

    color: white;

    padding: 20px;
    box-sizing: border-box;

}

h1 {

    margin-top: 30px;

    font-size: clamp(34px, 5vw, 52px);

}

.subtitle {

    font-size: clamp(18px, 3vw, 24px);

    font-size: 24px;

    color: #d6d6d6;

    margin-bottom: 35px;

}

.map {

    width: 95%;

    max-width: 1400px;

    margin: 0 auto;

    position: relative;

}

.world {

    width: 100%;

    display: block;

    border-radius: 18px;

    box-shadow:
        0 15px 40px rgba(0, 0, 0, .45);

}

.spot {

    position: absolute;

    transition: .25s;

}

.spot img {

    width: 110px;

}

.spot:hover {

    transform:
        translateY(-6px) scale(1.08);

    filter:
        drop-shadow(0 0 20px rgba(255, 220, 100, .9));

}

.spot1 {

    left: 160px;

    top: 115px;

}

.spot2 {

    left: 650px;

    top: 90px;

}

.spot3 {

    right: 178px;

    top: 160px;

}

.spot4 {

    left: 163px;

    top: 400px;

}

.spot5 {

    left: 615px;

    top: 370px;

}

.spot6 {

    right: 200px;

    top: 420px;

}

.spot7 {

    left: 290px;

    bottom: 140px;

}

.spot8 {

    right: 340px;

    bottom: 130px;

}

.logout {

    position: absolute;

    right: 30px;

    top: 50px;

    color: white;

    text-decoration: none;

    font-size: 24px;

    font-weight: bold;

    padding: 10px 18px;

    border-radius: 12px;

    background: rgba(0, 0, 0, .4);

    cursor: pointer;

}

.logout:hover {

    background: rgba(255, 255, 255, .2);

}

@media (max-width: 768px){

    .spot img{

        width:70px;

    }

}